.content {
    float: left;
    margin-left: 300px;
    height: calc(100% - 100px);
    width: calc(100% - 300px);
    position: relative;
    overflow: auto;
    z-index: 1;
}

.sidebar {
    overflow-y:scroll;
    position: fixed;
    width: 300px;
    height: calc(100% - 100px);
}

.login-container {
    height: calc(100% - 100px);
    width: auto;
}

.login {
    margin-top: 50px;
    height: 200px;
    background-position:center;
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

/*STANDARD FEATURES*/

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=text]#hoverEdit{
    background: transparent;
    border-style: none;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    height: 35px;
    width: 200px;
    font-size: 18px;
    position: absolute;
}

input[type=text]#hoverEdit:hover, input[type=text]#hoverEdit:focus {
    background-color: #ECECEC;
    border-style: none;
    font-size: 18px;
}

input[type=text]#hoverEdit:focus {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
