/*=== SIDEBAR ===*/

.sidebar .buttonContainer {
    height: 50px;
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 5px;
    width: 100%;
}

.sidebar .red { background-color: #ee8a65; }
.sidebar .yellow { background-color: #f1f075; }
.sidebar .green { background-color: #56b881; }

.sidebar .infoButton {
    float: right;
    height: 100%;
    width: 10%;
}

.sidebar .mainButton {
    height: 100%;
    width: 90%;
}

.sidebar .mainButton:hover .buttonImage{
    background-color: #ECECEC;
}
.sidebar .mainButton:hover .selectedButtonImage{
    background-color: #ECECEC;
}

.sidebar-content {
    position: relative;
    overflow: auto;
    width: 100%;
    height: calc(100% - 50px);
    padding: 10px;
}

.sidebar .searchContainer {
    border-bottom: 1px solid #CCCCCC;
    height: 50px;
    width: 100%;
}

.sidebar .searchIcon {
    width: 20%;
    height: 100%;
    background-image:url(../img/search.svg);
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position:center;
    float: left;
}

.sidebar .searchInputContainer {
    width: 80%;
    height: 100%;
    float: right;
    position: relative;
}

.sidebar input[type=text]#search{
    background: transparent;
    border-style: none;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.sidebar .filter {
    background: transparent;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #909394;
    position: absolute;

    line-height: 50px;
}

.sidebar .buttonImage {
    height: 100%;
    min-width: 20px;
    width: 20%;
    background-color: ffffff;
    border-right-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    float: left;
    background-repeat:no-repeat;
    background-size: 32px 32px;
    background-position:center;
}

.sidebar .selectedButtonImage {
    height: 100%;
    min-width: 20px;
    width: 20%;
    background-color: ffffff;
    border-right-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    float: left;
    box-shadow: 0 0 10px #7092FF inset;
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position:center;
}

.sidebar .buttonTextContainer {
    overflow: hidden;
    white-space:nowrap;
    background-color: #F6F6F6;
    height: 100%;
    width: 80%;
    border-right-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    float: left;
}

.sidebar .us { background-image:url(/img/flags/us.png); }
.sidebar .au { background-image:url(/img/flags/au.png); }
.sidebar .ca { background-image:url(/img/flags/ca.png); }
.sidebar .be { background-image:url(/img/flags/be.png); }
.sidebar .jp { background-image:url(/img/flags/jp.png); }
.sidebar .za { background-image:url(/img/flags/za.png); }
.sidebar .fr { background-image:url(/img/flags/fr.png); }
.sidebar .de { background-image:url(/img/flags/de.png); }
.sidebar .nl { background-image:url(/img/flags/nl.png); }
.sidebar .nz { background-image:url(/img/flags/nz.png); }
.sidebar .it { background-image:url(/img/flags/it.png); }
.sidebar .ar { background-image:url(/img/flags/ar.png); }
.sidebar .plus {
    background-image:url(/img/plus.svg);
    background-size: 16px 16px;
}

.sidebar .buttonText {
    /*Disable Highlighting*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 50px;
    padding-left: 7px;
    float: left;
}

/* === COLOURS ===*/

.sidebar .red { background-color: #ee8a65; }
.sidebar .yellow { background-color: #f1f075 }
.sidebar .white { background-color: #fff }
