.content {
    float: left;
    margin-left: 300px;
    height: calc(100% - 100px);
    width: calc(100% - 300px);
    position: relative;
    overflow: auto;
    z-index: 1;
}

.sidebar {
    overflow-y:scroll;
    position: fixed;
    width: 300px;
    height: calc(100% - 100px);
}

.login-container {
    height: calc(100% - 100px);
    width: auto;
}

.login {
    margin-top: 50px;
    height: 200px;
    background-position:center;
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*=== SIDEBAR ===*/

.buttonContainer {
    width: 100%;
    height: 50px;
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 9px;
}

.infoButton {
    float: right;
    width: 10%;
    height: 100%;
    background-color: #FAFAFA;
    background-image:url('/img/i.svg');
    background-repeat:no-repeat;
    background-size: 12px 12px;
    background-position:center;
}

.mainButton {
    height: 100%;
    width: 90%;
}

.mainButton:hover .buttonImage{
    background-color: #ECECEC;
}
.mainButton:hover .selectedButtonImage{
    background-color: #ECECEC;
}


.searchContainer {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    height: 50px;
    width: 100%;
}

.searchIcon {
    width: 20%;
    height: 100%;
    background-image:url(/img/search.svg);
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position:center;
    float: left;
}

.inputContainer {
    width: 80%;
    height: 90%;
    float: right;
    position: relative;
}

input[type=text]#search{
    background: transparent;
    border-style: none;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.filter {
    background: transparent;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #909394;
    position: absolute;

    line-height: 50px;
}

.buttonImage {
    height: 100%;
    min-width: 20px;
    width: 20%;
    background-color: ffffff;
    border-right-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    float: left;
    background-image:url(/images/pin/pin.svg);
    background-repeat:no-repeat;
    background-size: 32px 32px;
    background-position:center;
}

.selectedButtonImage {
    height: 100%;
    min-width: 20px;
    width: 20%;
    background-color: ffffff;
    border-right-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    float: left;
    box-shadow: 0 0 10px #7092FF inset;
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position:center;
}

.buttonTextContainer {
    background-color: #F6F6F6;
    height: 100%;
    width: 79%;
    border-right-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    float: left;
}

.us { background-image:url(/img/flags/us.png); }
.au { background-image:url(/img/flags/au.png); }
.ca { background-image:url(/img/flags/ca.png); }

.buttonText {
    /*Disable Highlighting*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 50px;
    padding-left: 7px;
    float: left;
}
