.content {
    float: left;
    margin-left: 300px;
    height: calc(100% - 100px);
    width: calc(100% - 300px);
    position: relative;
    overflow: auto;
    z-index: 1;
}

.sidebar {
    overflow-y:scroll;
    position: fixed;
    width: 300px;
    height: calc(100% - 100px);
}

.login-container {
    height: calc(100% - 100px);
    width: auto;
}

.login {
    margin-top: 50px;
    height: 200px;
    background-position:center;
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


