.login-container {
    background-color: #2E343A;
    height: calc(100% - 100px);
    width: auto;
    position: relative;
}

.login {
    position: absolute;
    top: calc( 25% - 150px );
    left: calc( 50% - 150px);
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 3px;
    border-color: #AAB1B7;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px #AAB1B7;
}

.oa-logo {
    margin: 10px 75px;
    height: 150px;
    width: 150px;
    background-position:center;
    background-color: lightgrey;
/*    background-image: url('../img/logo.jpg');*/
    background-repeat: no-repeat;
    background-size: 150px 150px;
    border-radius: 5px
}

.login a {
    text-align: center;
    line-height: 40px;
    float: left;
    margin: 5px 20px;
    width: 80%;
    background-color: #425261;
    height: 40px;
    border-radius: 3px;
    border-style: none;
    color: #fff;
}
